<div class="container">
<!-- ITERATING tHE Arrays -->
    <!-- {{ items[0].wishText}} -->

    <!-- Using the Directive -->
    <!-- Inside For Loop, we have: -->
      <!-- for(Intialization, Condition, Iteration) -->
    <ul class="wish-list">
      <li *ngFor="let item of items">
        <div class="form-check">
          <label class="form-check-label">
            <input class="checkbox" type="checkbox"> 
            {{ item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </div>
  