<div class="container">
  <div *ngIf="items.length === 0; else showItems">
    There is nothing to display.
  </div>

<!-- ITERATING tHE Arrays -->
    <!-- {{ items[0].wishText}} -->

    <ng-template #showItems>
    <!-- Using the Directive -->
    <!-- Inside For Loop, we have: -->
      <!-- for(Intialization, Condition, Iteration) -->
    <ul class="wish-list">
      <li *ngFor="let item of items; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input 
            class="checkbox" 
            type="checkbox"
            [checked]="item.isComplete"
            [attr.data-index]="ii"
            (click)="toggleItem(item)"
            > 
            {{ item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>